* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter Variable", sans-serif;
  background-color: #fafaff;
  overflow: visible !important;
}

.map {
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  cursor: crosshair;
}

.sr-only {
  display: none;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.6);
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}
