.userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.userProfileContainer {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 60%;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  margin-bottom: 2rem;
}
.userProfileContainer > img {
  width: 150px;
  border-radius: 999px;
}

.userProfileContainer__Details {
  width: 100%;
  margin-top: 1rem;
  border-radius: 26px;
  padding: 2rem 3rem;
}

.userProfileContainer__DetailsHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.userProfileContainer__DetailsRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0 0 0;
  gap: 0.3rem;
}

.userProfileContainer__DetailsRow input {
  width: 50%;
}

.userProfileContainer__DetailsRow > p {
  font-size: 1rem;
}

.userProfileContainer__DetailsRow > h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 768px) {

  .userProfileContainer__Details {
    width: 100%;
    margin-top: 1rem;
    border-radius: 26px;
    padding: 2rem 1.4rem;
  }
  
  .userProfileContainer {
    width: 100%;
    box-shadow: none;
    padding: 0;
  }

  .userProfileContainer__DetailsRow > input {
    width: 100%;
  }
}
