* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.map {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}

#map {
  z-index: 1;
}


.btn {
  background-color: green;
  color: white;
  border: none;
  padding: 0.61rem 1rem;
}



